{
  "parser"  : "babel-eslint",
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "env"     : {
    "browser": true,
    "node": true
  },
  "globals" : {
    "document": true,
    "window": true,
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true, 
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "react/prefer-stateless-function": 0,
    "global-require": 0,
    "linebreak-style": 0,
    "no-console": 0,
    "no-param-reassign": [2, {
      "props": false
    }],
    "quotes": [
      "error",
      "single"
    ],
    "jsx-quotes": [ 
      "error",
      "prefer-single"
    ]
  }
}
