
.page-wrapper {
  min-width: 1200px;
  &.hide-list {
    .page-center {
      margin-left: 10px;
    }
   .page-list {
     display: none;
   } 
  }
  &.hide-nav {
    .page-center {
      margin-right: 10px;
    }
    .page-nav {
      display: none;
    }
  }
  .page-list {
    float: left;
    width: 200px;
  }
  .page-center {
    background: #fefefe;
    min-height: 100px;
    max-width: 1000px;
    margin: 0 210px;
    padding: 20px;
    box-shadow: 2px 2px 10px 0 #c3c3c3;
    .page-title {
      text-align: left;
      padding: 10px 0;
      font-size: 24px;
    }
    .page-tags {
      text-align: left;
      ul {
        line-height: 12px;
      }
      .tag-item {
        display: inline-block;
        width: 30px;
        height: 14px;
        line-height: 12px;
        color: #fff;
        background: #fc4;
        font-size: 12px;
        border-radius: 8px 0 1px 2px;
        text-align: center;
        position: relative;
        margin-right: 16px;
        &:before {
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #fff;
          position: absolute;
          top: 5px;
          right: -4px;
          z-index: 2;
        }
        &:after {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border: 7px solid transparent;
          border-left: 10px solid #fc4;
          position: absolute;
          top: 0;
          right: -17px;
          z-index: 1;
        }
      }
    }
    .page-detail {
      text-align: left;
      padding: 10px 0;
      font-size: 14px;
      color: #aaa;
      span {
        padding-right: 30px;
      }
    }
    .page-content {
      border-top: 2px solid #eee;
      padding-top: 10px;
    }
  }
  .page-nav {
    float: right;
    width: 200px;
  }
}