
.edit-page {
  height: 100%;
  padding-top: 50px;
  .edit-wrapper, .view-wrapper {
    float: left;
    width: 50%;
    height: 100%;
  }
  .edit-content, .view-content {
    background: #fefefe;
    height: 100%;
    margin: 0 10px;
  }
  .view-wrapper {
    
  }
  .view-content {
    position: relative;
  }
  .edit-area {
    width: 100%;
    height: 100%;
    line-height: 1.5;
    resize: none;
    padding: 5px;
    font-size: 14px;
    background: #3f3f3f;
    outline: none;
    color: #23D18B;
  }
  .view-title {
    text-align: left;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    height: 40px;
    width: 100%;
    background: #fefefe;
    position: absolute;
    top: 0;
  }
  .md-wrapper {
    height: 100%;
    overflow: auto;
    padding-top: 40px;
  }
  .btn-group {
    float: right;
    position: relative;
    top: -5px;
    right: -10px;
  }

  .local-save-text {
    padding: 0 10px;
    color: #999;
    font-size: 12px;
  }

  .local-save-btn {
    margin-right: 10px;
    background: #fff;
    border: 1px solid #23D18B;
    color: #23D18B;
    &:hover {
      background: #fff;
    }
  }
}