// md 的基础样式
.md-base {
  text-align: left;
  padding: 10px;
  font-size: 18px;

  .base-info {
    border-bottom: 1px solid #eee;
    margin: 10px 0;
    .page-title {
      // padding-left: 10px;
    }
    .tag-list {
      text-align: left;
      line-height: 12px;
      margin: 0;
    }
    .tag-item {
      display: inline-block;
      min-width: 30px;
      max-width: 100px;
      padding: 0 10px;
      height: 14px;
      line-height: 12px;
      color: #fff;
      background: #fc4;
      font-size: 12px;
      border-radius: 8px 0 1px 2px;
      text-align: center;
      position: relative;
      margin: 10px 16px 0 0;
      .text {
        display: inline-block;
        max-width: 80px;
        // 文本过长显示省略号
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &:before {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 5px;
        right: -4px;
        z-index: 2;
      }
      &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-left: 10px solid #fc4;
        position: absolute;
        top: 0;
        right: -17px;
        z-index: 1;
      }
    }
    .page-detail {
      text-align: left;
      padding: 10px 0;
      font-size: 14px;
      color: #aaa;
      span {
        padding-right: 30px;
      }
    }
  }

  // 标题
  h1 {font-size: 36px;}
  h2 {font-size: 32px;}
  h3 {font-size: 28px;}
  h4 {font-size: 24px;}
  h5 {font-size: 20px;}
  h6 {font-size: 16px;}

  // 链接
  a {
    color: #29ca89;
    &:hover {
      color: #23D18B;
    }
  }

  // 段落
  p {
    padding: 10px;
    line-height: 28px;
  }

  // 图片
  img {
    max-width: 100%;
  }

  // 分割线
  hr {
    border: 0;
    height: 2px;
    background-color: #e3e3e3;
    margin: 5px 0;
  }

  // 代码
  pre {
    background: #efefef;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 3px 1px #cfcfcf;
    overflow: auto;
    transition: all 0.3s ease;
    &:hover {
      font-weight: bold;
      box-shadow: 10px 10px 10px 3px #cfcfcf;
    }
  }

  code {
    color: #333;
    font-size: 16px;
  }

  // 引用
  blockquote {
    border-left: 3px solid #e3e3e3;
    // padding-left: 10px;
    margin: 10px;
  }

  // 表格
  table {
    margin: 10px;
    border: 2px solid #cfcfcf;
  }
  thead {
    background: #e3e3e3;
  }
  tbody {

  }
  tr {

  }
  th, td {
    font-weight: normal;
    padding: 10px;
    border: 1px solid #cfcfcf;
  }

  // 列表
  ul {
    margin: 10px;
    li {
      line-height: 16px;
      list-style: disc inside;
    }
    ul {
      li {list-style-type: square;}
      ul {
        li {list-style-type: circle;}
      }
    }
  }

  ol {
    margin: 10px;
    li {
      height: 16px;
      line-height: 16px;
      list-style: decimal-leading-zero inside;
    }
    ol {
      li {list-style-type: upper-latin;}
      ol {
        li {list-style-type: lower-latin;}
        ol {
          li {list-style-type: lower-roman;}
        }
      }
    }
  }

  // 其他各种嵌套
  li p {
    display: inline;
  }
}